<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329364863547-41dj7ctci6qa8dv7t9uv6aceao6aer3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329364863547-41dj7ctci6qa8dv7t9uv6aceao6aer3g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329364863547-g6ai9ku0nnr71o3gnih37moci017jsfd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCK74C_BI3VyDJg_VxWscLUszIIcy-NSpM</string>
	<key>GCM_SENDER_ID</key>
	<string>329364863547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salekmasr.app</string>
	<key>PROJECT_ID</key>
	<string>salekeg-masr</string>
	<key>STORAGE_BUCKET</key>
	<string>salekeg-masr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329364863547:ios:b09a41f36f4cf580d23a1e</string>
	<key>DATABASE_URL</key>
	<string>https://salekeg-masr-default-rtdb.firebaseio.com</string>
</dict>
</plist>